<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="primary" mode="ios">

      </ion-back-button>


    </ion-buttons>




    <ion-title>Lugar-Nacimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h3>Actualmente Tegucigalpa es la ciudad de mayor pujanza del país dado que es el centro político y administrativo. La ciudad cuenta con un casco histórico integrado por las iglesias de la época colonial y los edificios emblemáticos cuya construcción se remonta a inicios del siglo XX.

      La ciudad cuenta con una serie de miradores naturales como son el Parque Naciones Unidas, conocido como El Picacho, que domina toda la ciudad; el Parque Manuel Bonilla; el Parque La Leona; el Cerro El Berrinche; el Cerro Juana Laínez; el Cerro de Hula al sur de la Ciudad; y, La Montañita al este. Por esta razón a Tegucigalpa también se le conoce como Ciudad de los Cerros de Plata.</h3>
  </ion-text>

</ion-content>
