<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="secondary" mode="ios">

      </ion-back-button>


    </ion-buttons>



    <ion-title>Metas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="primary">
    <h3>Una vision que tengo a corto y mediano plazo es poder egresar de la UMH para poder obtener mi titulo universitario y poder lograr un asenso en mi trabajo.</h3>
  </ion-text>





</ion-content>
