<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">

        <ion-back-button defaultHref="/" text="Volver" color="warning" mode="ios">

        </ion-back-button>


      </ion-buttons>


    <ion-title>Descripcion</ion-title>

    
  </ion-toolbar>

  
</ion-header>



<ion-content>
  <ion-text color="secondary">
    <h2>Mi Nombre es Edison Salgado, tengo 44 años de edad, estudio la carrera de ingenieria informatica en la UMH, Trabajo como analista e Infraestructura y Redes.</h2>
  </ion-text>
 

</ion-content>
